.LoadingTodo-container{
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 251, 251, 0.02);
    height: 2rem;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 1rem;
}

.LoadingTodo-text{
    padding: 0rem 3rem 0 .5rem;
    width: 100%;
    font-size: .8rem;
    line-height: 24px;
    font-weight: 400;
}

.LoadingTodo-completeIcon {
    position: absolute;
    left: 12px;
    background-color: rgba(25, 25, 25, 0.02);
    border-radius: 50%;
    padding: 1rem;
}

.LoadingTodo-deleteIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(25, 25, 25, 0.02);
}
